<h2 class="jumbotron title">My Dashboard<span class="glyphicon glyphicon-user"></span></h2>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Number of products:</h3>
  </div>
  <div class="panel-body link">
    <%= @products_count %>
    <%= link_to "See all products", products_url, class: 'btn btn-sm btn-primary' %>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Number of categories:</h3>
  </div>
  <div class="panel-body link">
    <%= @categories.length %>

    <% @categories.each do |cat| %>
      <%= link_to "See Category: #{cat.name}", "/categories/#{cat.id}", class: 'btn btn-sm btn-primary' %>
    <% end %>
  </div>
</div>

