<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <%= link_to 'See Category', "/categories/#{category.id}", class: 'btn btn-info' %>
  </td>
    <td>
    <h4><%= category.products.count %></h4>
  </td>
</tr>